---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100 contrastBkg contrastColor">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">Virtual Badge</h1>
    </div>

    <div class="markdown-body mw6-m mw7-l avenir center">
        {{ content | safe }}
    </div>
    <div class="markdown-body mw6-m mw7-l avenir center">
        <form class="flex flex-column" id="uploadForm">
            <input type="text" id="name" name="name" class="ma2 pa2" placeholder="Name">
            <input type="text" id="title" name="title" class="ma2 pa2" placeholder="Title">
            <input type="file" id="headshot" name="headshot" class="ma2 pa2">
            <button type="submit" class="ma2 pa4 primaryBkg primaryColor br4 f4 b">Generate</button>
            <p id="badgeStatus">&nbsp;</p>
        </form>
    </div>
    <div id="imageContainer" class="mw6-m mw6-l center"></div>

    <script type="application/javascript">
        const form = document.getElementById('uploadForm');
        const imageContainer = document.getElementById('imageContainer');
        const messageElement = document.getElementById('badgeStatus');

        form.addEventListener('submit', function (e) {
            e.preventDefault();

            messageElement.textContent = "Generating...";
            messageElement.style.color = "blue";

            const formData = new FormData();
            formData.append('name', document.getElementById('name').value);
            formData.append('title', document.getElementById('title').value);
            formData.append('headshot', document.getElementById('headshot').files[0]);

            fetch('https://aqwck9wtp5.execute-api.us-east-1.amazonaws.com/badge', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const imageUrl = data.uri;

                const imgElement = document.createElement('img');
                imgElement.src = imageUrl;
                imageContainer.innerHTML = ''; // Clear previous images
                imageContainer.appendChild(imgElement);

                messageElement.textContent = '';
            })
            .catch(error => {
                console.error('Error:', error);
                messageElement.textContent = '⛔️ Error uploading the file.';
                messageElement.style.color = 'red';
            });
        });
    </script>
</div>
