---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100 contrastBkg contrastColor">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">Call For Papers</h1>
    </div>

    <div class="markdown-body mw6-m mw7-l avenir center">
        {{ content | safe }}
    </div>
    <div class="flex mw6-m mw7-l center justify-center pt4 pb6">
        <a class="pv2 ph4 mh2 tc f4 no-underline ba br2 b--transparent primaryBkg primaryColor" href="https://sessionize.com/serverlessdays-anz-2024-sydney/" target="_blank">🇦🇺 Sydney, AU (May 21)</a>
        <a class="pv2 ph4 mh2 tc f4 no-underline ba br2 b--transparent primaryBkg primaryColor" href="https://sessionize.com/serverlessdays-anz-2024-auckland/" target="_blank">🇳🇿 Auckland, NZ (May 24)</a>
    </div>
</div>
