---
layout: base.njk
---

{% set currentEvent = event.events[eventKey] %}

<div class="ph3 ph0-ns pt4 pt6-ns w-100 avenir contrastBkg contrastColor">
    <div class="ph1 pt2 pa3-ns mw6-m mw7-l center tl">
        <h1 class="f1">{{ currentEvent.city }}</h1>
        <p class="fw6 f4">{{ currentEvent.date}}</p>
    </div>

    <div class="ph3 pv2 mw6-m mw7-l center">
        <h2 class="f2 mv3">🗺️ Venue</h2>
        <p><strong>Address:</strong> {{ currentEvent.location.address }}</p>
        <p class="pt2">
            <a class="pv2 ph4 f4 no-underline ba br2 b--transparent mr5-m primaryBkg primaryColor" href="{{ currentEvent.location.googleMapsLink }}" target="_blank">🗺️ Google Maps</a>
        </p>
    </div>
    
    <div class="ph1 pv2 pa3-ns mw6-m mw7-l center tl primaryColor primaryBkg">
        <h2 class="f2 mv3">📆 Agenda</h2>
        {% if currentEvent.agenda|length %}
        <table class="w-100">
            {% for timeslot, sessions in currentEvent.agenda %}
                <tr class="pv3 bb">
                    <td class="bg-blue br2 bn ph2 pt2 tc">{{ timeslot }}</td>
                    <td class="bn bg-dark-blue">
                        <div class="flex flex-wrap-m justify-center items-center">
                            {# Here-be-dragons code to set the width of each session, up to 3 sessions per timeslot #}
                            {% set sWidth = ("w-100" if sessions|length == 1 else ("w-50 w-100-m" if sessions|length == 2 else "w-33 w-100-m")) %}
                            {% for session in sessions %}
                                <div class="center tc pv2 pv3-m ph1 {{ sWidth }}">
                                    {% if session.path %}
                                    <a href="{{ session.path }}" class="primaryColor no-underline hover-light-blue grow dib">
                                    {% endif %}
                                        <span class="f4 fw6">{{ session.title }}</span><br />
                                        <span class="f5">{{ session.speaker }}</span>
                                    {% if session.path %}
                                    </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>We are busy developing the agenda for ServerlessDays ANZ. Check back soon!</p>
        {% endif %}
    </div>

    {%if currentEvent.workshops|length %}
    <div class="ph3 pv2 mw6-m mw7-l avenir center">
        <h2 class="f2 mv3">🛠️ Workshops</h2>
        <div class="">
            <p>We're looking forward to bring a number of workshops to you as part of this event! Check out the information below:</p>
            <div class="flex flex-col ph3 pv1">
            {% for workshop in currentEvent.workshops %}
                <div class="primaryBkg primaryColor w-100 br2 ph3 pv1">
                    {% if workshop.path %}
                    <a href="{{ workshop.path }}" class="primaryColor no-underline hover-light-blue">
                    {% endif %}
                        <h3 class="f2 f3-m fw6 mb0">{{ workshop.title }}</h3>
                        <p class="fw6">👤 {{ workshop.speaker }}</p>
                        <p class="f6">📅 {{ workshop.dateTime }}</p>
                        <p class="f6">🌐 {{ workshop.location.name if workshop.location else "Location TBC" }}</p>
                    {% if workshop.path %}
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="w-100 w-05-l dn db-l">
        &nbsp;
    </div> 

</div>
