---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100 contrastBkg contrastColor">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">Sponsors</h1>
    </div>

    {% if sponsorsData.list|length %}
    <div class="pv4 ph4 tl f4 tertiaryColor tertiaryBkg">
        <div class="mw6-m mw7-l center">
            {% if sponsorsData.list.platinum|length %}
            <div class="w-100 pt3 pb4 tc">
                {% for sponsor in sponsorsData.list.platinum %}
                    <span class="center dib pa3 v-mid">
                        <a class="no-underline" href="{{ sponsor.link }}">
                            <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
                        </a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
            {% if sponsorsData.list.gold|length %}
            <div class="w-100 pv3 tc">
                {% for sponsor in sponsorsData.list.gold %}
                    <span class="center dib pa3 v-mid">
                        <a class="no-underline" href="{{ sponsor.link }}">
                            <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
                        </a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
            {% if sponsorsData.list.silver|length %}
            <div class="w-100 pv3 tc">
                {% for sponsor in sponsorsData.list.silver %}
                    <span class="center dib pa3 v-mid">
                        <a class="no-underline" href="{{ sponsor.link }}">
                            <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
                        </a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="markdown-body mw6-m mw7-l avenir center">
        {{ content | safe }}
    </div>
    <div class="mw6-m mw7-l center pt4 pb5">
        <a class="pv2 ph4 f4 no-underline ba br2 b--transparent mr5-m primaryBkg primaryColor" href="{{ sponsor.cta.path }}" target="_blank">{{ sponsor.cta.name }}</a>
    </div>
</div>
