<div class="flex-ns mv3 mv4-l">
    <div class="w-100 w-05-l dn db-l"> 
    </div>
    <div class="w-100 w-50-l ph3 ph0-ns tc tl-ns pb4-l">
        <h2 class="f2 mv3">Kia ora! G'day!</h2>
        <div class="f5 lh-copy pr3-m"><p>In 2020 we will be combining the ANZ serverless community events under the ServerlessDays ANZ banner!</p>
        <p>We will have the best speakers from the Serverless community right around the world and we're planning tracks ranging from beginner to advanced level.</p>
        <p>The best bits? It's free to attend, and you can attend from wherever you are! How great is that?!</p></div>

        <h3 class="f3 mv3">Reserve your spot!</h3>

        <div class="f5 lh-copy pr3-m"><p>Tickets are now available so head on over and <a href="https://www.tickettailor.com/events/slsdaysanz/384906" target="_blank">reserve your spot</a>!</p></div>

        <h3 class="f3 mv3">Share your stories!</h3>

        <div class="f5 lh-copy pr3-m"><p>A great event doesn't happen without great stories.</p>
        
        <p>Our <a href="https://sessionize.com/serverlessdays-anz-2020/" target="_blank">Call for Speakers</a> is now open and we encourage everyone to submit their talk.</p>
        
        <p>If you are a first time speaker, or just need help shaping a talk, please complete a CFP subimssion as best you can and indicate you would like help with your submission and we will reach out.</p>
        </div>
    </div>
</div>