<div class="flex-ns mv3 mv4-l">
    <div class="w-100 w-05-l dn db-l"> 
    </div>
    <div class="w-100">
        <h2 class="f2 mv3">G'day!</h2>
        <div class="f5 lh-copy pr3-m"><p>In early 2022 the Australian serverless community is looking at running an in-person event.</p>
        
        <p>We expect to hold the event in a major Australia city, with potential for a second event later in 2022 that would combine Australia *AND* New Zealand into one event.</p>
        
        <p>This site is a holding site and we'll launch our new site in early 2022.</o></div>

        <h3 class="f3 mv3">Submit a talk</h3>

        <div class="f5 lh-copy pr3-m"><p>Our Call for Papers is currently open, so head to <a href="https://sessionize.com/serverlessdays-anz-2022-1">Sessionize</a> to find out more and submit your talk. We are looking for intermediate / advanced topics and are happy to help if you need support to submit a talk.</p></div>

        <h3 class="f3 mv3">Register interest to attend</h3>
    
       <div class="f5 lh-copy pr3-m"><p>If you'd like us to notify you when tickets go on sale please complete the form below.</p>
       
       <p>FORM HERE</p></div>

        <p>See you all in 2022!</p>
    </div>
    <div class="w-100 w-05-l dn db-l">
    </div>
</div>