<div class="flex-ns mv3 mv4-l">
    <div class="w-100 w-05-l dn db-l"> 
    </div>
            <div class="w-100">
    <h3 class="f3 mv3">Thanks to our sponsors!</h3>

    <div class="w-100 pt3 pb4 tc">
        {% for sponsor in sponsors.platinum %}
            <span class="center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.gold %}
            <span class="center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.silver %}
            <span class="w-auto center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.community %}
            <span class="w-50 w-20-ns center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    </div>
    <div class="w-100 w-05-l dn db-l"> 
    </div>
</div>