{% if sponsors.list.platinum|length %}
<div class="w-100 pt3 pb4 tc">
    {% for sponsor in sponsors.list.platinum %}
        <span class="center dib pa3 v-mid">
            <a class="no-underline" href="{{ sponsor.link }}">
                <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
            </a>
        </span>
    {% endfor %}
</div>
{% endif %}
{% if sponsors.list.gold|length %}
<div class="w-100 pv3 tc">
    {% for sponsor in sponsors.list.gold %}
        <span class="center dib pa3 v-mid">
            <a class="no-underline" href="{{ sponsor.link }}">
                <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
            </a>
        </span>
    {% endfor %}
</div>
{% endif %}
{% if sponsors.list.silver|length %}
<div class="w-100 pv3 tc">
    {% for sponsor in sponsors.list.silver %}
        <span class="w-auto center dib pa3 v-mid">
            <a class="no-underline" href="{{ sponsor.link }}">
                <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}"/>
            </a>
        </span>
    {% endfor %}
</div>
{% endif %}
{% if sponsors.available %}
    <div class="w-100 pt3 pb4 tc">
        <p>Sponsorship opportunities are available!</p>
        <div class="mt4"><span><a class="pv2 ph3 ph4-ns f5 f4-ns no-underline ba br2 b--transparent mr2 secondaryColor secondaryBkg" href="/sponsors">Learn more</a></span></div>
    </div>
{% endif %}