<div class="flex-ns mv3 mv4-l">
    <div class="w-100 w-05-l dn db-l"> 
    </div>
    <div class="w-100">
    <p>If you have any questions on sponsorhip please reach out to <a href="mailto:anz@serverlessdays.io?subject=Sponsorship" class="hot-pink">anz@serverlessdays.io</a>.

    <div class="w-100 pt3">
        <h4>Platinum - $15,000 (AUD)</h4>
        <p>Includes:</p>
        <ul>
            <li>premium event booth location</li>
            <li>branding on t-shirts and attendee badges</li>
            <li>logo on all videos</li>
            <li>pre and post event email drops to opted-in attendees</li>
            <li>shout-out during open and closing remarks.</li>
        </ul>
    </div>

    <div class="w-100 pt3">
        <h4>Gold - $10,000 (AUD)</h4>
        <p>Includes:</p>
        <ul>
            <li>event booth</li>
            <li>branding on attendee badges</li>
            <li>logo on all videos</li>
        </ul>
    </div>

    <div class="w-100 pt3">
        <h4>Silver - $5,000 (AUD)</h4>
        <p>Includes:</p>
        <ul>
            <li>event booth</li>
            <li>branding on attendee badges</li>
        </ul>
    </div>

    <div class="w-100 pt3">
        <h4>Community - Ask us!</h4>
        <p>Chat to us about what the options are!</p>
    </div>

    <!--
    <div class="w-100 pt3 pb4 tc">
        {% for sponsor in sponsors.platinum %}
            <span class="center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.gold %}
            <span class="center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.silver %}
            <span class="w-auto center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="w-100 pv3 tc">
        {% for sponsor in sponsors.community %}
            <span class="w-50 w-20-ns center dib pa3 v-mid">
                <a class="no-underline" href="{{ sponsor.link }}">
                    <img src="{{ sponsor.img }}" alt="{{ sponsor.alt }}" title="{{ sponsor.alt }}"/>
                </a>
            </span>
        {% endfor %}
    </div> -->
    </div>
    <div class="w-100 w-05-l dn db-l"> 
    </div>
</div>